
.appbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 0 1rem;

    padding: .5rem 10vw;

    background-color: rgba(255, 255, 255, .5);
    backdrop-filter: blur(5px);

    z-index: 50;
}

.appbarLogoSection {
    display: flex;
    align-items: center;
    
    gap: 0 1rem;
}

.logo {

    @media screen and (max-width: 1000) {
        width: 32;
    }
}

.appName {
    font-weight: bold;
    font-size: x-large;
}

.search {
    flex: 1;
    max-width: 400px;
}
