
.card {
    position: relative;
    margin: 20vh auto 0 auto;

    width: 100%;
    max-width: 720px;

    height: 320px;

    border-radius: var(--border-radius-md);
    /* background: var(--primary-gradient);
    background-image: url('/assets/cozy-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 55%; */

    /* background-image: linear-gradient(
            to bottom,
            var(--primary-color),
            var(--secondary-color),
        ),
        url('/assets/cozy-1.jpg'); */

    /* background-image: linear-gradient(
            to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('/assets/cozy-1.jpg');
    background-position: center 55%; */

    overflow: hidden;
}

.cardOverlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background: var(--primary-gradient);
    opacity: .1;
}

.cardContentContainer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

    display: flex;
    justify-content: center;

    z-index: 10;

    transition: .5s;
}

.cardContent {
    /* position: absolute;
    left: 0;
    bottom: 0; */
    margin: 0 auto;
    /* width: 100%; */
    /* max-width: 400px; */

    border-radius: var(--border-radius-md);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    padding: 1rem;

    background-color: rgba(255, 255, 255, .3);
    backdrop-filter: blur(1px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.cardContentTitle {
    font-size: 4rem;
    font-weight: bold;
}

.cardContentDescription {
    text-align: center;
    max-width: 400px;
}

.image {
    object-fit: cover;
    width: 100%;
    height: 100%;

    bottom: 10%;

    transition: .5s;
}

.card:hover .image {
    transform: scale(1.1);
}

.card:hover .cardContentContainer {
    opacity: 0;
}
