
.page {
  
}

.pageContent {
    padding: 0 5vw;

    @media screen and (min-width: 800px) {
        padding: 0 10vw;
    }
}

.productSectionTitleContainer {
    margin-top: 12vh;
    margin-bottom: 1rem;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productSectionTitle {
}

.productGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

