
.page {
  
}

.pageContent {
    padding: 0 5vw;

    @media screen and (min-width: 800px) {
        padding: 0 10vw;
    }
}

.productSectionTitle {
    margin-bottom: 1rem;
    margin-top: 12vh;
}

.productGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}
